# Ignore everything
*

# Allow git files
!.gitignore
!.git/

# Allow prepared_data folder
!prepared_data/

# Allow everything inside prepared_data
!prepared_data/**

# Allow Finetuned_API_Vuln_QLoRA_Colab_Fixed folder
!Finetuned_API_Vuln_QLoRA_Colab_Fixed/
!Finetuned_API_Vuln_QLoRA_Colab_Fixed/**